<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./config/import') %>
</head>
<body class="bg-zinc-50">

    <%- include('./components/nav') %>
    <div class="flex justify-center px-5">
        <div class="w-full max-w-7xl">

            <%- include('./components/navadmin') %>              

        </div>
    </div>
    <%- include('./components/footer') %>
    
</body>
</html>