<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./config/import') %>
</head>
<body class="bg-zinc-50">

    <%- include('./components/nav') %>
    <div class="flex justify-center px-5">
        <div class="w-full max-w-7xl">

            <%- include('./components/navadmin') %>           

            <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
                <div class="mx-auto max-w-lg text-center">
                    <h1 class="text-2xl font-bold sm:text-3xl">Create Categories!</h1>
                </div>
                
                <% if (message) { %>
                    <br>
                    <div class="flex justify-center items-center">
                        <div class="bg-[<%= config.color %>] text-white p-5 py-2 rounded-2xl flex items-center gap-2">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-megaphone"><path d="m3 11 18-5v12L3 14v-3z"/><path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"/></svg>
                            </span>
                            <p>
                                <%= message %>
                            </p>
                        </div>
                    </div>
                <% } %>
            
                <form action="/api/categories/create" method="POST" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
                    
                    <div>
                        <label for="image" class="block text-sm font-medium text-gray-700">Category Image URL</label>
                        <input
                            type="text"
                            id="image"
                            name="image"
                            class="px-5 py-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-[<%= config.color %>] focus:ring focus:ring-[<%= config.color %>] focus:ring-opacity-50"
                            placeholder="Enter category Image URL"
                            required
                        />
                    </div>

                    <div>
                        <label for="name" class="block text-sm font-medium text-gray-700">Category Name</label>
                        <input
                            type="text"
                            id="name"
                            name="name"
                            class="px-5 py-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-[<%= config.color %>] focus:ring focus:ring-[<%= config.color %>] focus:ring-opacity-50"
                            placeholder="Enter category name"
                            required
                        />
                    </div>

                    <div>
                        <label for="detail" class="block text-sm font-medium text-gray-700">Detail</label>
                        <textarea
                            id="detail"
                            name="detail"
                            rows="4"
                            class="px-5 py-1 mt-1 block w-full rounded-lg border-gray-300 shadow-sm focus:border-[<%= config.color %>] focus:ring focus:ring-[<%= config.color %>] focus:ring-opacity-50"
                            placeholder="Enter category detail"
                            required
                        ></textarea>
                    </div>

                    <div class="flex items-center justify-end">
                        <button
                            type="submit"
                            class="inline-block rounded-lg bg-[<%= config.color %>] px-5 py-3 text-sm font-medium text-white hover:bg-amber-600 focus:outline-none focus:ring-2 focus:ring-[<%= config.color %>] focus:ring-offset-2"
                        >
                            Create
                        </button>
                    </div>
                </form>
            </div>  
            
        </div>
    </div>
    <%- include('./components/footer') %>
    
</body>
</html>