<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./config/import') %>
</head>
<body class="bg-zinc-50">

    <%- include('./components/nav') %>
    <div class="flex justify-center px-5 mb-[50px]">
        <div class="w-full max-w-7xl">
            <%- include('./components/navadmin') %>
            <div class="overflow-x-auto rounded-2xl border bg-white">
                <div class="px-5 pt-5 flex justify-start items-center">
                    <div class="text-[<%= config.color %>]">
                        <h1 class="font-semibold">
                            MANAGE PRODUCT
                        </h1>
                        <p class="text-gray-400 text-xs">
                            Product
                        </p>
                    </div>
                </div>
                <% if (products.length > 0) { %>
                <table class="min-w-full divide-y-2 divide-gray-200 text-sm">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Image
                        </th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Name
                        </th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Price
                        </th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Status
                        </th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Stock
                        </th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-[<%= config.color %>]">
                            Manage
                        </th>
                    </tr>
                </thead>
            
                <tbody class="divide-y divide-gray-200">
                        <% products.forEach(product => { %>
                            <tr>
                                <td class="whitespace-nowrap flex justify-center px-4 py-2 font-medium text-gray-900">
                                    <img class="w-10 object-cover" src="<%= product.image %>" alt="<%= product.name %>">
                                </td>
                                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                    <p class="text-center">
                                        <%= product.name %>
                                    </p>
                                </td>
                                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                    <p class="text-center">
                                        <%= product.price %> ฿
                                    </p>
                                </td>
                                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                    <div class="flex justify-center">
                                        <% if (product.status === 0) { %>
                                            Ready for sale
                                        <% } else { %>
                                            Not available for sale
                                        <% } %>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                    <div class="flex justify-center">
                                        <p class="text-center">
                                            <%= product.stock_count %>
                                        </p>
                                    </div>
                                </td>
                                <td class="whitespace-nowrap px-4 py-2 text-gray-700">
                                    <div class="flex justify-center">
                                        <form action="/api/products/delete/<%= product.token %>" method="POST">
                                            <button type="submit" class="bg-[<%= config.color %>] text-white rounded-xl px-5 py-1 hover:bg-red-500 transition duration-300">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                </tbody>
                </table>
                <% } else { %>
                    <p class="flex justify-center text-red-500 pb-5">
                        No Product
                    </p>
                <% } %>
            </div>  

        </div>
    </div>
    <%- include('./components/footer') %>

</body>
</html>