<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('./config/import') %>
</head>
<body class="bg-zinc-50">

    <%- include('./components/nav') %>
    <div class="flex justify-center px-5">
        <div class="w-full max-w-7xl">
            <div>
                <div class="mx-auto px-4 py-16 sm:px-6 lg:px-8">
                    <div class="mx-auto max-w-lg text-center">
                    <h1 class="text-2xl font-bold sm:text-3xl">Sign In!</h1>
                    <p class="text-[<%= config.color %>] text-sm">
                        WEB SHOP
                    </p>
                    </div>
                
                    <form action="/api/auth/login" method="POST" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
                    <div>
                        <label for="username" class="sr-only">Username</label>
                
                        <div class="relative">
                        <input
                            type="text"
                            id="username"
                            name="username"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Enter Username"
                        />
                
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-4 text-gray-400"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
                            />
                            </svg>
                        </span>
                        </div>
                    </div>
                
                    <div>
                        <label for="password" class="sr-only">Password</label>
                
                        <div class="relative">
                        <input
                            type="password"
                            id="password"
                            name="password"
                            class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm"
                            placeholder="Enter Password"
                        />
                
                        <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="size-4 text-gray-400"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                            />
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                            />
                            </svg>
                        </span>
                        </div>
                    </div>
                
                    <div class="flex items-center justify-between">
                        <p class="text-sm text-gray-500">
                        No account?
                        <a class="underline" href="/signup">Sign Up</a>
                        </p>
                
                        <button
                        type="submit"
                        class="inline-block rounded-lg bg-[<%= config.color %>] px-5 py-3 text-sm font-medium text-white"
                        >
                        Sign In
                        </button>
                    </div>
                    </form>
                </div>
  
            </div>
        </div>
    </div>
    <%- include('./components/footer') %>
    
</body>
</html>